.education-and-experience-section {
    .education-and-experience-wrapper {
        .button-section {
            gap: 20px;

            button {
                height: 85px;
                width: 100%;
                border: none;
                outline: none;
                font-size: 40px;
                border: 1px solid rgba(255, 255, 255, .1);
                font-family: "Cormorant Garamond";
                font-style: 600;
                background-color: transparent;
                cursor: pointer;

                &.active,
                &:active {
                    background-color: var(--secondary-background);
                }
            }
        }

        .canvas-container {

            .canvas-cart {
                display: grid;
                grid-template-columns: 300px auto;
                align-items: center;
                gap: 40px;

                &:first-child {
                    .date-container {
                        border-top: 1px solid rgba(255, 255, 255, .1) !important;
                    }
                }

                &:last-child {
                    .date-container {
                        border-bottom: 1px solid rgba(255, 255, 255, .1) !important;
                    }

                }

                .date-container {
                    height: 100%;
                    position: relative;
                    border: 1px solid rgba(255, 255, 255, .1);
                    border-top: none;
                    border-bottom: none;


                    p {
                        position: absolute;
                        top: 50%;
                        right: 0px;
                        transform: translateY(-50%);
                        padding-right: 20px;
                        border-right: 1px solid #FFF;
                        height: 50px;
                    }
                }

                .info-section {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    padding: 20px 0px;

                    h3 {
                        font-size: 24px;
                        font-family: "Cormorant Garamond";
                        font-style: 600;
                        color: #FFF;
                    }

                    h6 {
                        font-size: 16px;
                    }

                    p {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}
 