.project-section {
    position: relative;

    &.extra-bg {
        background-color: var(--secondary-background);
    }


    .project-inner-wrapper {
        overflow: hidden;

        .project-grid {

            .project-cart {
                background: rgba(37, 39, 52, 0.872);

                .img-section {
                    position: relative;
                    width: 100%;
                    aspect-ratio: 1/1;
                    overflow: hidden;
                    padding: 20px;

                    .img-bg {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        left: 0px;
                        top: 0px;

                        img {
                            display: block;
                            width: 60%;
                            height: auto;
                            margin: auto;
                            transform: rotate(-60deg) translateX(150%);

                        }

                        &::after {
                            position: absolute;
                            content: "";
                            left: 0px;
                            top: 0px;
                            background: rgba(37, 39, 52, 0.872);
                            height: 100%;
                            width: 100%;
                        }

                    }

                    .img-container {
                        $container-size: calc(100% - 120px);
                        ;
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        z-index: 2;
                        height: $container-size;
                        width: $container-size;
                        overflow: hidden;

                        img {
                            width: 100%;
                            min-height: 100%;
                            height: auto;

                        }
                    }
                }

                .des-section {
                    padding: 0px 20px 40px 20px;

                    h2 {
                        color: #FFF;
                        font-size: 24px;
                        margin-bottom: 5px;
                    }

                    .link {
                        gap: 4px;

                        svg {
                            height: 15px;
                            width: 15px;
                        }

                        a {
                            font-size: 14px;
                        }

                    }

                }
            }
        }
    }
}

@media only screen and (min-width:200px) and (max-width: 750px) {
    .project-section {
        .project-inner-wrapper {

            .project-grid {

                .project-cart {

                    .img-section {
                        .img-container {
                            $container-size: calc(100% - 60px);
                            height: $container-size;
                            width: $container-size;

                        }
                    }

                    .des-section {

                        h2 {
                            font-size: 18px;
                        }

                        .link {
                            gap: 4px;


                        }

                    }
                }
            }
        }
    }
}

@media only screen and (min-width:200px) and (max-width: 1000px) {

    .project-section {
        .section-title {
            h3 {
                padding-right: 110px;
            }
        }
    }
}