.project-section {
  position: relative;

  &.extra-bg {
    background-color: var(--secondary-background);
  }

  .project-inner-wrapper {
    overflow: hidden;

    .project-grid {
     
    }
  }
}



@media only screen and (min-width: 200px) and (max-width: 1000px) {
  .project-section {
    .section-title {
      h3 {
        padding-right: 110px;
      }
    }
  }
}
