.hero-section {
  position: relative;
  overflow: hidden;
  margin-top: 40px;
  .hero-section-wrapper {
    .hero-container {
      display: grid;
      grid-template-columns: 60% 40%;
      height: 500px;
      max-height: 500px;

      .description-section {
        height: inherit;

        h2,
        h3,
        h4 {
          color: #fff;
          font-weight: bold;
          font-family: Cormorant Garamond;
        }

        h3 {
          font-size: 45px;
        }

        h4 {
          font-size: 40px;
          display: block;
          word-break: keep-all;
          font-style: italic;
        }

        h2 {
          font-size: 80px;
          font-style: italic;

          .last-name {
            position: relative;

            &::after {
              position: absolute;
              content: "";
              z-index: -1;
              background: url("../../../../assets/images/home/wave-shape.webp");
              width: 100%;
              height: 20px;
              left: 0;
              bottom: -2px;
              background-repeat: no-repeat;
            }
          }
        }

        p {
          margin: 10px 0px;
          font-size: 20px;
        }

        .button-section {
          display: flex;
          align-items: center;
          // margin: ;
          gap: 10px;
          margin-top: 20px;

          a {
            background-color: #001c55;
            color: #fff;
            font-size: 1rem;
            padding: 10px 20px;
            display: flex;
            align-items: center;
            border: 1px solid #1d1b34;
            border-radius: 5px;
            margin-right: 20px;
            cursor: pointer;
            text-decoration: none;
            display: flex;
            align-items: center;
            gap: 10px;
            background-color: #edf9fe;
            color: #1d1b34;

            &:hover {
              background-color: transparent;
              color: #fff;
              border: 1px solid #fff;
            }
          }
        }
      }

      .image-section {
        $img-size: 500px;

        height: inherit;
        position: relative;

        .img-container {
          height: $img-size;

          img {
            height: 100%;
            width: calc(100% - 50px);
          }

          .social-section {
            $social-size: calc($img-size - 80px);
            position: absolute;
            height: $social-size;
            width: $social-size;
            right: 0px;
            top: 50%;
            z-index: -1;
            border-radius: 50%;
            transform: translateY(-50%);
            border: 1px solid rgba(255, 255, 255, 0.25);
            &::before {
              position: absolute;
              content: "";
              left: -1px;
              top: 0px;
              background-color: var(--background);
              height: 100%;
              width: 50%;
              z-index: 2;
              // display: none;
            }
            &::after {
              $social-after-size: calc($social-size - 60px);
              position: absolute;
              content: "";
              left: 0px;
              top: 50%;
              transform: translateY(-50%);
              height: $social-after-size;
              width: $social-after-size;
              border-radius: 50%;
              border: 1px solid rgba(255, 255, 255, 0.102);
              z-index: 1;
            }

            .social-inner-section {
              height: 100%;
              width: 100%;
              border-radius: 50%;
              position: relative;
              background-color: red;
              z-index: 5;
              display: none;

              a {
                position: absolute;
                right: 0px;
                top: 0px;
                height: 50px;
                width: 50px;
                border-radius: 50%;
                background-color: var(--background);
                border: 1px solid #fff;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;

                svg {
                  height: 20px;
                  width: 20px;
                  color: #fff;
                }

                &:hover {
                  background-color: #fff !important;
                }

                &:nth-child(1) {
                  right: 90px;
                  top: 0px;
                }

                &:nth-child(2) {
                  right: -5px;
                  top: 100px;
                }

                &:nth-child(3) {
                  right: -15px;
                  top: 250px;
                }
              }
            }
          }
        }

        .background-them {
          position: absolute;
          height: 100%;
          width: 100%;
          left: 0px;
          top: 0px;
          z-index: -1;

          svg {
            height: 100%;
            width: 100%;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 200px) and (max-width: 1300px) {
  .hero-section {
    .hero-section-wrapper {
      .hero-container {
        .description-section {
          h3 {
            font-size: 35px;
          }

          h4 {
            font-size: 30px;
          }

          h2 {
            font-size: 65px;
          }

          p {
            font-size: 17px;
          }

          .button-section {
            a {
              padding: 7px 15px;
            }
          }
        }

        .image-section {
          $img-size: 500px;
          .img-container {
            height: $img-size;

            img {
              height: 100%;
              width: 100%;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 200px) and (max-width: 750px) {
  .hero-section {
    .hero-section-wrapper {
      .hero-container {
        display: flex;
        flex-direction: column-reverse;
        height: max-content;
        max-height: max-content;
        padding-bottom: 40px;

        .image-section {
          $img-size: 400px;

          .img-container {
            height: $img-size;
            display: flex;
            justify-content: center;

            img {
              height: 100%;
              width: max-content;
            }

            .social-section {
              $social-size: calc($img-size - 80px);
              position: absolute;
              height: $social-size;
              width: $social-size;
              right: 50%;
              top: 50%;
              z-index: -1;
              border-radius: 50%;
              transform: translateY(-50%) translateX(50%);
              border: 1px solid rgba(255, 255, 255, 0.25);

              &::before {
                position: absolute;
                content: "";
                left: -1px;
                top: 0px;
                background-color: var(--background);
                height: 100%;
                width: 50%;
                z-index: 2;
              }

              &::after {
                $social-after-size: calc($social-size - 60px);
                position: absolute;
                content: "";
                left: 0px;
                top: 50%;
                transform: translateY(-50%);
                height: $social-after-size;
                width: $social-after-size;
                border-radius: 50%;
                border: 1px solid rgba(255, 255, 255, 0.102);
                z-index: 1;
              }

              .social-inner-section {
                height: 100%;
                width: 100%;
                border-radius: 50%;
                position: relative;
                background-color: red;
                z-index: 5;
                display: none;

                a {
                  position: absolute;
                  right: 0px;
                  top: 0px;
                  height: 50px;
                  width: 50px;
                  border-radius: 50%;
                  background-color: var(--background);
                  border: 1px solid #fff;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  cursor: pointer;

                  svg {
                    height: 20px;
                    width: 20px;
                    color: #fff;
                  }

                  &:hover {
                    background-color: #fff !important;
                  }

                  &:nth-child(1) {
                    right: 90px;
                    top: 0px;
                  }

                  &:nth-child(2) {
                    right: -5px;
                    top: 100px;
                  }

                  &:nth-child(3) {
                    right: -15px;
                    top: 250px;
                  }
                }
              }
            }
          }

          .background-them {
            height: 80%;
            width: 300px;
            left: 50%;
            top: 20%;
            transform: translateX(-50%);
          }
        }

        .description-section {
          h3 {
            font-size: 30px;
          }

          h4 {
            font-size: 25px;
          }

          h2 {
            font-size: 55px;
          }

          p {
            font-size: 16px;
          }

          .button-section {
            a {
              margin-right: 7px;

              &:last-child {
                margin-right: 0px;
              }
            }
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 200px) and (max-width: 550px) {
  .hero-section {
    .hero-section-wrapper {
      .hero-container {
        .description-section {
          h3 {
            font-size: 25px;
          }

          h4 {
            font-size: 23px;
          }

          h2 {
            font-size: 45px;
          }

          .button-section {
            flex-direction: column;
            align-items: start;
            a {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}
