.project-page-section {
  &.extra-bg {
    background-color: var(--secondary-background);
  }
  .project-page-wrapper {
    .project-page-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }
  }
}

@media only screen and (min-width: 200px) and (max-width: 750px) {
  .project-page-section { 
    .project-page-wrapper {
      .project-page-grid { 
        grid-template-columns: 1fr; 
      }
    }
  }
}
